.input-form__btn {
  margin: 20px 20px;
}

.input-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

}

.result {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: red;
}