*{
	margin: 0;
	padding: 0;
}
li{
	list-style-type: none;
}
#wrapper{
	background: green;
	height: 100vh;
	width: 100%;
}
@media screen and (max-width: 480px){
header{
	display: flex;
	position: relative;
	flex-direction: row;
	padding: 18px 25px 21px 24px;
	background: #77c1bb;
	height: 33px;
}
.head{
	display: flex;
	flex-direction: row;
}
.logo{
	height: 31px;
	width: 34px;
	margin-left: 23px;
}
.search{
	width: 25px;
	height: 25px;
	margin-top: 4px;
	margin-left: 208px;
}
.head-1{
	display: none;
	flex-direction: row;
}
.input-search{
	height: 25px;
	width: 280px;
}
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	margin-left: 11px;
	line-height: 28px;
}
#button{
	margin-top: 8px;
	height: 17px;
	width: 27px;
}
.line{
	width: 27px;
	height: 3px;
	background: #372c48;
}
.line:nth-child(2){
	margin: 3px 0 3px;
}
.menu{
	position: absolute;
	padding: 23px 0 0 22px;
	margin-top: 54px;
	left: -414px;
	height: 100vh;
	width: 63.3%;
	background: #fff;
}
.move-right{
	left: 0;
	transition: 0.5s;
	transition-timing-function: ease-out;
}
.move-left{
	left: -414px;
	transition: 0.5s;
	transition-timing-function: ease-in;
}
.img1{
	background: url(../img/film360-1.png) no-repeat;
	background-size: contain;
	height: 24px;
	width: 30px;
}
.img2{
	background: url(../img/TVseries360.png) no-repeat;
	background-size: contain;
	margin-top: 38px;
	height: 24px;
	width: 30px;
}
.img3{
	background: url(../img/favorites360.png) no-repeat;
	background-size: contain;
	margin-top: 32px;
	height: 24px;
	width: 30px;
}
.category{
	margin-left: 74px;
}
.films{
	margin-left: 96px;
}
.films>li:nth-child(2){
	margin-top: 16px;
	margin-bottom: 16px;
}
.films>li:last-child{
	margin-top: 16px;
}
.films>li:first-child{
	margin-top: 12px;
}
}