li{
	list-style-type: none;
}
#wrapper{
	background: green;
	height: 100vh;
	width: 100%;
}
@media screen and (max-width: 480px){
header{
	display: flex;
	position: relative;
	flex-direction: row;
	padding: 18px 25px 21px 24px;
	background: #77c1bb;
	height: 33px;
}
.head{
 display: flex;
 align-items: center;
}
a {
  line-height: 30px;
 text-decoration: none;
 color: #372c48;
 font-family: 'Roboto', sans-serif;
}
 a:hover {
  color: #77c1bb;
 }
.logo{
	height: 31px;
	width: 34px;
	margin:0 11px 0 23px;
}
.search{
	width: 25px;
	height: 25px;
	margin-top: 4px;
	margin-left: 208px;
}
.head-1{
 display: none;
 align-items: center;
 width: 100%;
 display: flex;
 justify-content: space-between;
}
 .head-1 div {
  display: flex;
  align-items: center;
 }
 header-1__search {
  width: 25px;
  height: 27px;
 }
 .head-1 div .header-1__search {
  margin: 0 14px 0 25px;
 }
.input-search{
 width: 150px;
 height: 19px;
  background: #77c1bb;
 border: none;
}
 .mic {
  width: 21px;
  height: 26px;
 }
h1{
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
 color: #372c48;
}
#button{
	margin-top: 8px;
	height: 17px;
	width: 27px;
}
.line{
	width: 27px;
	height: 3px;
	background: #372c48;
}
.line:nth-child(2){
	margin: 3px 0 3px;
}
.menu{
	position: absolute;
	padding: 23px 0 0 22px;
	margin-top: 54px;
	left: -414px;
	height: 100vh;
	width: 63.3%;
	background: #fff;
}
.move-right{
	left: 0;
	transition: 0.5s;
	transition-timing-function: ease-out;
}
.move-left{
	left: -414px;
	transition: 0.5s;
	transition-timing-function: ease-in;
}
 #block {
   display: flex;
 align-items: center;
  height: 24px;
	width: 30px;
  background-size: contain;
 }

.img1{
	background: url(../img/film480.png) no-repeat;
}
.img2{
	background: url(../img/TVseries480.png) no-repeat;
	margin-top: 38px;
}
.img3{
	background: url(../img/favorites480.png) no-repeat;
	margin-top: 32px;
}
.category{
 font-family: 'Roboto', sans-serif;
	margin-left: 74px;
 font-size: 17px;
 line-height: 30px;
 color: #372c48;
}
 .category:hover {
  color: #77c1bb;
 }
.films{
 font-size: 15px;
margin-left: 96px;
}